body {
    margin: 0px;
}

.header {
    background-color: #0b2c42;
    border-bottom: 1px solid rgb(19, 19, 19);
    font-family: sans-serif;
    overflow: hidden;
    padding: 5px 15px 15px;
    text-decoration: none;
}

.links {
    float: right;
    margin: 5px;
    padding: 12px 0px 0px;
}

#logo {
    color: #12CFD8;
    font-size: 48px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.footer {
    background-color: #0b2c42;
    border-top: 1px solid rgb(19, 19, 19);
    bottom: 0px;
    height: 40px;
    position: fixed;
    width: 100%;
}